<section id="add-process">
    <div class="container mt-4 mb-4">
        <div class="card col">
            <!-- Guardar valores del proceso -->
            <form id="formulario" name="formulario" novalidate>
                Nombre:
                <input type="text" maxlength="10" name="name" class="form-control" placeholder="Ingrese nombre del proceso"
                    [(ngModel)]="process.name" required>
                <br>
                Rafaga de CPU:
                <input min="1" type="number" name="cpuBurst" class="form-control" placeholder="Ingrese ráfaga de CPU"
                    [(ngModel)]="process.cpuBurst" required>
                <br>
                Tiempo de llegada:
                <input min="0" type="number" name="arrivalTime" class="form-control" placeholder="Ingrese tiempo de llegada"
                    [(ngModel)]="process.arrivalTime" required>
                <br>
                <button type="submit" class="btn btn-secondary" (click)='addProcess(process)' [disabled]="f.invalid">Agregar Proceso</button>
                <!-- Guardar valores del proceso -->
                <br>
            </form>
        </div>
    </div>
</section>

<section id="process-table">
    <div class="container">
        <div class="row">
            <div class="card-body" *ngIf=!is_empty>
                <!-- Mostramos valores en la tabla, conforme se vayan ingresando -->
                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rafaga de CPU</th>
                            <th scope="col">Tiempo de Llegada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let process of processList'>
                            <td>{{process.name}}</td>
                            <td>{{process.cpuBurst}}</td>
                            <td>{{process.arrivalTime}}</td>
                            <td>
                                <button class="btn btn-outline-danger" (click)='deleteProcess(process)'>
                                    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Mostramos valores en la tabla, conforme se vayan ingresando -->
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Mostramos los botones 'aplicar algorimo' y 'nuevo' siempre y cuando la lista de procesos no esté vacía-->
            <div class="col-auto" *ngIf=!is_empty>
                <button class="btn btn-success" (click)='fifo()'>Aplicar Algoritmo </button>
                <button class="btn btn-info ml-3" (click)='resetFifo()'>Nuevo</button>
            </div>
        </div>

    </div>

</section>


<!-- Mostramos valores calculados en la tabla is_clicked es la bandera que estaba en el archivo .ts, dependiendo del estado esta seccion se muestra o no -->
<section id="grant-chart">
    <div class="card-body" *ngIf=is_clicked>
        <!-- Grafica -->
        <!-- Mostramos la grafica y tabla de resultados siempre y cuando la lista de procesos no esté vacía-->
        <div class="container mb-4" *ngIf=!is_empty>
            <div class="row justify-content-center">
                
                <div>
                    <p class="text-right small pb-0">0</p>
                </div>
                <div class="col-sm-1 pl-0 pr-0" *ngIf="process0.arrivalTime !== 0">
                    <p class="text-right small pb-0">{{process0.arrivalTime}}</p>
                    <p class="text-center pt-0" style="border: 1px solid black; background-color: gray"> ///// </p>
                </div>
                <div class="col-sm-1 pl-0 pr-0" *ngFor='let proceso of processList'>
                    <div>
                        <p class="text-right small pb-0">{{proceso.returnTime}}</p>
                        <p class="text-center pt-0" style="border: 1px solid black">{{proceso.name}}</p>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf=!is_empty>
                <!-- Grafica -->



                <table class="table table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">TE</th>
                            <th scope="col">TR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let proceso of processList'>
                            <th scope="row">{{proceso.name}}</th>
                            <td>{{proceso.standbyTime}}</td>
                            <td>{{proceso.returnTime}}</td>
                        </tr>
                        <tr>
                            <th>Promedio</th>
                            <td>{{avgTE}}</td>
                            <td>{{avgTR}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Mostramos valores calculados en la tabla -->

            </div>
        </div>


    </div>
</section>